@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

.transition-all-300 {
  transition: all 0.3s ease;
}

.scale-active:active {
  transform: scale(0.98);
}

.buttons {
  transform: translateY(-50%);
}

html {
  transition: background-color 0.3s, color 0.3s;
}
